.allure/
build
build/allure-results
./build
logs
./logs
.gradle
./.gradle
# ----
./build
./.idea
/.idea/*
!/.idea/codeStyles
!/.idea/inspectionProfiles
*/**/.idea
.shelf
/*.iml
/*.ipr
/*.iws
/buildSrc/.idea
/buildSrc/.shelf
/buildSrc/*.iml
/buildSrc/*.ipr
/buildSrc/*.iws
/buildSrc/out
/buildSrc/subprojects/*/*.iml
/buildSrc/subprojects/*/out
/out
/subprojects/*/*.iml
/subprojects/*/out
/.teamcity/*.iml
/.teamcity/target
.DS_Store
/*.log

.gradletasknamecache
cucumber-html-report
